body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #6cf173;
}

header {
  background-color: #039903; /* Vert pur */
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
}

#searchInput {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #01050a;
}

.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  gap: 1rem;
}

.plant-card {
  background-color: #b8eecc;
  border: 15px dotted hsla(15, 5%, 16%, 0.11); /* Jaune, pointillé, épais */
  padding: 1rem;
  border-radius: 20px; /* Bords arrondis */
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.plant-card h2 {
  margin-top: 0;
  color: #039603; /* Vert pur pour les titres de plante */
}
.menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  z-index: 1002;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 20px;
  margin: 10% auto;
  width: 80%;
  border-radius: 8px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.maladies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.maladie-card {
  background-color: #f4fdf5;
  border: 2px dashed #038803;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.maladie-card:hover {
  transform: scale(1.02);
}

.maladie-card h3 {
  margin: 10px 0 5px;
  color: #037703;
}

.maladie-card p {
  margin: 0;
  font-size: 0.95rem;
}


footer {
  background-color: #07a807;
  color: white;
  text-align: center;
  padding: 1rem;
}